body {
    background-color: powderblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

div {
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: larger;

}

select, input {
    font-weight: inherit; 
    font-family: inherit;
    width: 40px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: lavender;
}

select , select{
    width: 100px;
}

.button {
    text-align: center;
    padding: 8px;
    margin: 10px;
    background-color: lavender;
    border: none;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.button:hover {border: 1px solid white;}


#result {
    text-align: left;
    margin: auto;
    padding: 10px;
    margin-top: 25px;
    background-color: aliceblue;
    height: 250px;
    width: 50%;
}



